html {
  font-family: "Helvetica", sans-serif;
  margin: auto;
  text-align: justify;
  font-size: 3vh;
  color: black;
}

h1 {
  font-size: 10vh;
}

h2 {
  font-size: 6vh;
}

h3 {
  font-size: 4vh;
}

a {
  color: black;
  text-decoration: none;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 480px) {
html {
  max-width: 95vh;
  min-width: 95vh;
   }
}


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 481px) and (max-width : 1024px) {
html {
   min-width: 80vh;
   max-width: 80vh;
 }
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1025px) {
html {
   min-width: 800px;
   max-width: 800px;
 }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
html {
   min-width: 1000px;
   max-width: 1000px;
 }
}
